/examples_xc8/RF24Mesh_Example.X/nbproject/private/
/examples_xc8/RF24Mesh_Example.X/build/default/
/examples_xc8/RF24Mesh_Example.X/dist/default/
/examples_xc8/RF24Mesh_Example.X/dist/xc8/
/examples_xc8/RF24Mesh_Example.X/build/xc8/
/examples_xc8/RF24Mesh_Example.X/build/sdcc/
/examples_xc8/RF24Mesh_Example.X/dist/sdcc/